<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ELEMENT</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="icon" href="img/element-icon2.png">
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">   

    
</head>
<body>
<header>
<!--  Верх  -->
    <div class="Title">ELEMENTARY</div>
    <div class="Right">
        <input type="search" maxlength="40" class="g1">
        <img class="g2" src="img/Category.svg">
        <img class="g3" src="img/What.svg">
        <img class="g4" src="img/bag.svg">
    </div>       
</header>
    <div class="g2_content g2_content_hidden">
            <ul class="dropdown">
                <li name="1" class="cat" style="color: rgb(255, 251, 0)"> Скидки!</li>
                <li name="2" class="cat"> Игровые мыши</li>
                <li name="3" class="cat"> Игровые клавиатуры</li>
                <li name="4" class="cat"> Игровые наушники</li>
                <li name="5" class="cat"> Коврики для мыши</li>
                <li name="6" class="cat"> Кресла</li>
                <li name="7" class="cat"> Игровые столы</li>
                <li name="8" class="cat"> Микрофоны</li>
                
            </ul>
    </div>
<main>


<!--  О НАС  -->
<div class="about-us hidrec">
    <h1>О нас</h1>   
    <p>
        Компания <span>ELEMENTARY</span> предоставляет услуги интернет-магазина игровых девайсов.
        Мы не имеем offline-магазина, поэтому все товары находятся на складах и ждут своих хозяев.
        Такой подход помогает нам обходиться без лишней наценки, чтобы <span style="letter-spacing: 0px;">ВЫ</span> 
        могли приобрести продукт по максимально выгодной цене.
    
    </p> 
    
    <h1>Обратная связь</h1>
    <p>Телефон: <a href="tel:+79163649291">+7 (916) 364-92-91</a></p>
    <p>Электронная почта: <a href="mailto: evocracoon@gmail.com">evocracoon@gmail.com</a></p>
</div>


<!--  КОРЗИНА  -->
<div class="cart hidrec">
    <h1>Корзина</h1>
    <p>Мы не имеем offline-магазина, поэтому все товары находятся на складах и ждут своих хозяев.
        Такой подход помогает нам обходиться без лишней наценки, чтобы ВЫ
        могли приобрести продукт по максимально выгодной цене.</p>
</div>



<div id="vue">

    <div class="general">
        <div class="slider">
            <input type="radio" name="switch" id="btn1" checked>
            <input type="radio" name="switch" id="btn2">
            <input type="radio" name="switch" id="btn3">
            
            <div class="switch">
              <label for="btn1"></label>
              <label for="btn2"></label>
              <label for="btn3"></label>
            </div>
            
            <div class="slider-inner">
              <div class="slides">
                <img src="img/slider_1.png"/>
                <img src="img/slider_2.jpg"/>
                <img src="img/slider_3.jpg"/>
              </div>
            </div>
          </div>



            <ul>
            <div class="general-catalog">
                <template v-for='elem in prod'>
                <li v-for:="item in elem" >
                        <img :src="item.image">
                        <p>{{item.title}}</p>
                        <span>{{item.discount}}</span>
                        <span class="hot">{{item.cost}}</span><br>
                        <button @click="add_cart(item.image,item.title,item.cost)">В корзину</button>
                </li>
                </template>
            </div>
            </ul>




    </div> 
    <div class="List LiHide">
        <h1>Товары со скидкой</h1>
        <ul>
        <div class="catalog">
            <template v-for='elem in prod'>
            <template v-for:="item in elem">
            <li v-if:="item.discount.length>0">
                <img :src="item.image">
                <p>{{item.title}}</p>
                <span>{{item.discount}}</span>
                <span class="hot">{{item.cost}}</span><br>
                <button v-on:click="add_cart(item.image,item.title,item.cost)">В корзину</button>
            </li>
            </template>
        </template>
        </div>
        </ul> 
    </div>

    <section class="List LiHide">
        <h1>Игровые мыши</h1>
        <ul>
            <div class="catalog">
                <li v-for:="item in prod.Mouses">
                    <img :src="item.image">
                    <p>{{item.title}}</p>
                    <span>{{item.discount}}</span>
                    <span class="hot">{{item.cost}}</span><br>
                    <button v-on:click="add_cart(item.image,item.title,item.cost)">В корзину</button>
                </li>
            </div>
        </ul>
    </section>
    <section class="List LiHide">
        <h1>Игровые клавиатуры</h1>
        <ul>
            <div class="catalog">
                <li v-for:="item in prod.Keyboard">
                    <img :src="item.image">
                    <p>{{item.title}}</p>
                    <span>{{item.discount}}</span>
                    <span class="hot">{{item.cost}}</span><br>
                    <button v-on:click="add_cart(item.image,item.title,item.cost)">В корзину</button>
                </li>
            </div>
        </ul>
    </section>
    <section class="List LiHide">
        <h1>Игровые наушники</h1>
        <ul>
            <div class="catalog">
                <li v-for:="item in prod.Headphones">
                    <img :src="item.image">
                    <p>{{item.title}}</p>
                    <span>{{item.discount}}</span>
                    <span class="hot">{{item.cost}}</span><br>
                    <button v-on:click="add_cart(item.image,item.title,item.cost)">В корзину</button>
                </li>
            </div>
        </ul>    
    </section>
   
    <section class="List LiHide">
        <h1>Коврики для мыши</h1>
        <ul>
            <div class="catalog">
                <li v-for:="item in prod.Carpets">
                    <img :src="item.image">
                    <p>{{item.title}}</p>
                    <span>{{item.discount}}</span>
                    <span class="hot">{{item.cost}}</span><br>
                    <button v-on:click="add_cart(item.image,item.title,item.cost)">В корзину</button>
                </li>
            </div>
        </ul>
    </section>
    <section class="List LiHide">
        <h1>Кресла</h1>
        <ul>
            <div class="catalog">
                <li v-for:="item in prod.Chairs">
                    <img :src="item.image">
                    <p>{{item.title}}</p>
                    <span>{{item.discount}}</span>
                    <span class="hot">{{item.cost}}</span><br>
                    <button v-on:click="add_cart(item.image,item.title,item.cost)">В корзину</button>
                </li>
            </div>
        </ul>
    </section>
    <section class="List LiHide">
        <h1>Игровые столы</h1>
        <ul>
            <div class="catalog">
                <li v-for:="item in prod.Tables">
                    <img :src="item.image">
                    <p>{{item.title}}</p>
                    <span>{{item.discount}}</span>
                    <span class="hot">{{item.cost}}</span><br>
                    <button v-on:click="add_cart(item.image,item.title,item.cost)">В корзину</button>
                </li>
            </div>
        </ul>
    </section>
    <section class="List LiHide">
        <h1>Микрофоны</h1>
        <ul>
            <div class="catalog">
                <li v-for:="item in prod.Microphones">
                    <img :src="item.image">
                    <p>{{item.title}}</p>
                    <span>{{item.discount}}</span>
                    <span class="hot">{{item.cost}}</span><br>
                    <button v-on:click="add_cart(item.image,item.title,item.cost)">В корзину</button>
                </li>
            </div>
        </ul>
    </section> 
    
</div>
</main>
<script lang="ts" src="products.js"></script>
<script lang="ts" src="script.js"></script>



<!-- <script lang="ts" src="Postgres.js"></script> -->
</body>
</html>